{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to AllergyWorld! Find allergy-friendly restaurants near you.">
  <meta name="author" content="">

  
  <link href="{% static 'allergyworld/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'allergyworld/css/style.css' %}" rel="stylesheet">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
  <script type="text/javascript" src="{% static 'allergyworld/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'allergyworld/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'allergyworld/js/scripts.js' %}"></script>
  {% block mapjs %}{% endblock %}
 
 <!-- Google Analytics tracking code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49882743-1', 'allergyworld.us');
    ga('send', 'pageview');

  </script> 

  <!-- Ajax support for form submission -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
  <script src="http://malsup.github.com/jquery.form.js"></script> 
 
    <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'signupForm' and provide a simple callback function 
            $('#signupForm').ajaxForm(function() { 
                document.getElementById('signupMsg').style.display='block'; 
            }); 
        }); 
    </script> 
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="text-align: center;background-color:white;padding-left:200px;padding-right:200px">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a href="http://www.allergyworld.us/" class="navbar-brand" href="" style="color:black">Home</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav" style="vertical-align:center;">
            <li>
             <a href="#modal-container-signup" role="button" data-toggle="modal">Sign Up</a>
            </li>
            
           
          </ul>
          
          <ul class="nav navbar-nav" style="display: inline-block;float: none;vertical-align: top;">
            <li>
              <h1 style="font-family: 'Oswald';font-weight: bold; margin-top:5px;color:rgb(126,128,241);padding-right:150px;">AllergyWorld</h1>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" style="vertical-align:center;">
            <li >
               <a href="#modal-container-help" role="button" data-toggle="modal">Help</a>
            </li>
          
      
          </ul>
        </div>
        
      </nav>
      <!-- AddThis SocialMedia buttons -->
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:0px;top:25%;">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_compact"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520332400278e6cf"></script>
      <!-- AddThis Button END -->

      <!-- Help modal -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12 column">
            
            <div class="modal fade" id="modal-container-help" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="color:rgb(39, 174, 96);">
                      Thank you for visiting AllergyWorld!
                    </h4>
                  </div>
                  <div class="modal-body">
                    <p>Currently AllergyWorld's restaurant search is limited to Manhattan (New York). We plan to expand our database shortly. Please sign up to learn about future updates.</p>

                    <p>For any questions or feedback, feel free to reach out to us at allergyworldapp [at] gmail [dot] com.</p>
                  </div>
                 <!--  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                  </div> -->
                </div>
                
              </div>
              
            </div>

            <div class="modal fade" id="modal-container-signup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;color:rgb(39, 174, 96);">
                        Sign up to receive notifications about new features!
                      </h4>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row clearfix">
                        <div  class="col-md-6 column" >
                          <div class="col-md-1 column">
                          </div>
                          <div class="col-md-9 column">
                          <div id="signupMsg" class="alert alert-dismissable alert-success" style="display:none;">
                           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Thank you!</strong>
                          </div>
                        </div>
                        </div>
                      </div>
                    <div class="col-md-6 column">
                     <div class="col-md-1 column">
                      </div>
                      <div class="col-md-9 column">
                        <form id="signupForm" role="form" action='/allergyworld/signup/' method='get'>
                          <div class="form-group">
                             <label for="signUpName" style="color:rgb(52, 73, 94);">Name</label><input type="text" class="form-control" name="signUpName" required/>
                          </div>
                          <div class="form-group">
                             <label for="signUpAllergy" style="color:rgb(52, 73, 94);">Allergy</label><input list="signUpAllergyList" type="text" class="form-control" name="signUpAllergy" />
                             <datalist id="signUpAllergyList">
                              <option value="Peanut">
                                      <option value="Tree nuts">
                                      <option value="Milk">
                                      <option value="Egg">
                                      <option value="Wheat">
                                      <option value="Soy">
                                      <option value="Fish">
                                      <option value="Shellfish">
                            </datalist>
                          </div>
                          <div class="form-group">
                             <label for="signUpEmail" style="color:rgb(52, 73, 94);">Email</label><input type="email" class="form-control" name="signUpEmail" required/>
                          </div>
                          <div style="text-align:center">
                          <button type="submit" class="btn btn-default" style="color:rgb(52, 73, 94);background-color:rgb(236, 240, 241);"><strong>Submit</strong></button>
                          </div>
                        </form>
                      </div>
                    </div>
                    
                  </div>
                  </div>
                  <!-- <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                  </div> -->
                </div>
                
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
      <br/>
      <br/>

  {% block body %}{% endblock %}
  
</body>
</html>


