{% extends "allergyworld/base.html" %}

{% block title %}
Restaurant Details
{% endblock %}

{% block mapjs %}


<script>
  function initialize() {
    var myLatLng = new google.maps.LatLng({{ restaurant.lat }}, {{ restaurant.lng }})
  
    var mapOptions = {
      zoom: 15,
      center: myLatLng
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
    })
  }

  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
        'callback=initialize&key=AIzaSyAmtzKMmQcC0mcXxvuUDcXYpocqMZiBAFg';
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>

{% endblock %}


{% block body %}

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <br/><br/>

      <center>
      <form role="form" class="form-inline" action='/allergyworld/search/' method='get'>
        <div class="form-group">
           <input type="text" class="form-control" name="allergy" required placeholder="Allergy"/>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" name="location" required placeholder="Location"/>
        </div>
        <div class="form-group">
           <input type="text" class="form-control" name="cuisine" placeholder="Cuisine"/>
        </div>
        <div class="form-group">
         <button type="submit" class="btn btn-default">Search</button>
       </div>
      </form>
    </center>
      
    </div>
  </div>
  <hr/>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <h3>
        {{ restaurant.name }}
      </h3> 
      <address> {{restaurant.address}} </address>
      <a href={{ restaurant.website }}>Website</a>
      <div class="row clearfix">
      <div class="col-md-12 column">
      Supported allergies
      <ul class="list-inline">
        <li>
          Egg free
        </li>
        <li>
          Gluten free
        </li>
        <li>
          Locatose intolerant
        </li>
        
      </ul>
    </div>
  </div>
    </div>
    <br/>
     <div class="col-md-6 column" > 
      
    </div> 
  </div>
 

</div> 
<div id="map-canvas"></div>
{% endblock %}