{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

<link href="{% static 'allergyworld/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'allergyworld/css/star-rating.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'allergyworld/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'allergyworld/js/star-rating.min.js' %}"></script>

<style>
.glyphicon {
	display : none;
}
.star-rating-rtl .caption {
	display: none;
}
.label {
	display : none;
}
</style>
</head>

<body>
	Hello!
	
	<input id='star' type="number" class="rating" data-size='xs' >
	<script>
	function initRatings() {
		$("#star").rating('update', 3);
	}
	initRatings();
	</script>


</body>
</html>
